@using BO_Voyage_UIL.Controllers
@model ViewVoyajeurModel

@{
    ViewBag.Title = "Ajouter voyageur";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
   
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Voyageur.Nom, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Voyageur.Nom, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Voyageur.Nom, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Voyageur.Prenom, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Voyageur.Prenom, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Voyageur.Prenom, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Voyageur.DateNaissance, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Voyageur.DateNaissance, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Voyageur.DateNaissance, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
      
        <div class="col-md-10">
            @Html.HiddenFor(model => model.Ids.idCli)
           
        </div>
    </div>

    <div class="form-group">
       
        <div class="col-md-10">
            @Html.HiddenFor(model => model.Ids.id)
         
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Valider" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Page précédente", "Index", new { id = Model.Ids.id, idCli = Model.Ids.idCli })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
